*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.input{
    height: 30px;
    width: 150px;
    background-color: aqua;
    border-radius: 5px;
    padding: 2px 5px;
}