*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0;
        padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}
button{
    background-color: transparent;
    height: 40px;
    width: 100px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    border: none;
}
button::after{
    content: '';
    position: absolute;
    height: 110%;
    width: 0%;
    background-color: aqua;
    top: -2px;
    left: -1px;
    z-index: -5;    
    transition: 0.5s;
    border-radius: 5px;
}
button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    top: -2px;
    left: -1px;
    border-radius: 5px;
    z-index: -3;
    transition: 0.5s;
    border: 2px solid black;
}
button:hover::after{
    width: 104%;
}

ul{
     background-color: darkblue;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    color: white;
}

li{
    margin: 30px;
    list-style: none;
    position: relative;
    font-size: 20px;
}

li::after{
    content: '';
    height: 4px;
    background-color: white;
    width: 0;
    position: absolute;
    left: 0;
    top: 25px;
    transition: 0.4s ease-in-out;
}
li:hover::after{
    width: 100%;
}