body{
    padding: 0;
    margin: 0;

}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)) , url('roomdesign.jpg');
}

.vertical{
    height: 70%;
    width: 2px;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    cursor: pointer;
   
}
.navbar ul li{
    margin:  0 10px;
    position: relative;
  
}

.navbar ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s ease-in;
}

.navbar ul li:hover::after{
    width: 100%;
}
.main{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    line-height: 1.6;
    color: white;

}

p::first-letter{
    font-size: 30px;
    color: red;

}
.button button{
    padding: 10px 10px;
    border-radius: 20px;
    margin: 20px 10px;
    border: 4px solid #009688;
    background:transparent;
    height: 40px;
    width: 10%;
    position: relative;
    color: white;
}

span{
    position: absolute;
    background-color:#009688;
    height: 104%;
    width: 0%;
    border-radius: 20px;
    left: 0;
    bottom:0;
    z-index: -1;
    transition: 0.4s ease-in;
}
.button button:hover{
 
    color: white;
    border: none;
}

.button button:hover span{
width: 100%;
}
